.bg-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-m-5 {
    margin-top: 5em;
}
.btn-bg-chl {
    background: #f47920;
    border: 1px solid #f47920;
    color: white;
}
.bg-chl {
    background: #f47920;
}
.close {
    position: absolute;
    right: 0;
    top: 10px;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.text-chl {
    color: #f47920;
}
